@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

@import url("./reset.css");

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
