p {
    margin: 7px 0;
}

.product-card {
    position: relative;
    box-sizing: border-box;
    height: 350px;
    padding: 20px;
    border: 1px solid rgb(202, 191, 191);
    border-radius: 7px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

    &__header {
        height: 20%;
    }

    &__name {
        font-size: 1.2rem;
        font-weight: 700;

    }

    &__model {
        font-style: italic;
        font-weight: 200;
        font-size: 1.1rem;
        margin-top: 5px;
    }

    &__image {
        width: 100%;
        height: 45%;
        object-fit: contain;
    }

    &__article {
        background-color: red;
        color: white;
        padding: 3px;
    }

    &__color {
        font-style: italic;
    }

    &__price {
        font-weight: 600;
    }

    &__favorite {
        all: unset;
        left: 16px;
        bottom: 15px;
        color: rgb(158, 158, 158);
        font-size: 2rem;
        cursor: pointer;

        &.favorite {
            color: blue;
        }

    }

    &__btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: black;
        color: white;
        padding: 3px;
        border-radius: 5px;
        cursor: pointer;

    }
}